go 1.18

use (
	./app/mqxd
	./face
	./plugins/conf/ini
	./plugins/auth/memory
	./plugins/auth/redis
	./plugins/retain/redis
	./plugins/retain/memory
	./plugins/session/memory
	./plugins/session/redis
	./plugins/acl/memory
	./plugins/bridge/nats
)
